body {
	background-color: #e4ebf8;
}

h1 {
	font-family: helvetica;
	font-size: 100px;
}

.App {
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-header {
	font-size: calc(10px + 2vmin);
	color: white;
}
